/* Resetting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

:root {
    --background: rgb(24, 24, 24);
    --second-background: rgb(21, 21, 21);
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

/* Nav */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

nav .links .btn {
    display: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav ul a {
    color: white;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
}

nav ul a:hover {
    opacity: 1;
}

.logo {
    font-size: 2rem;
    color: white;
    font-weight: 800;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.logo {
    opacity: 1;
}

/* these styles applies to .form-btn-submit */
.btn {
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    text-align: center;
    font-size: 1.1rem;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

/* these styles applies to .form-btn-submit:hover */
.btn:hover {
    background-color: white;
    color: var(--background);
}

span {
    background: linear-gradient(to right, #6cff52, #3ec5ff);
    background-clip: text;
    color: transparent;
}

#menu {
    color: white;
    font-size: 3rem;
    display: none;
}

/* Home Section */
section {
    min-height: 100vh;
    padding: 5% 15%;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
}

#home img {
    width: 18vw;
    border-radius: 50%;
    margin-top: 3rem;
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    max-width: 600px;
}

.info-box h1 {
    font-size: 5rem;
    font-weight: 500;
}

.info-box h3 {
    font-size: 2rem;
    font-weight: 400;
}

.info-box p {
    opacity: 0.7;
}

.btn-box {
    display: flex;
    gap: 1rem;
}

.btn-box .btn:nth-of-type(2) {
    background-color: white;
    color: var(--background);
}

.btn-box .btn:nth-of-type(2):hover {
    background-color: var(--background);
    color: white;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 20px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #6cff52, #3ec5ff);
}


/* About Section */
#about {
    background-color: var(--second-background);
    display: flex;
}

.about-box {
    display: flex;
    gap: 5em;
}

.about-box h1 {
    font-size: 5rem;
}

.about-box p {
    color: white;
    opacity: 0.8;
}

.skills {
    display: flex;
    gap: 10em;
}

.skills ul {
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: white;
    opacity: 0.8;
    align-items: baseline;
}

.skills ul li span{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
    cursor: default;
}

.skills ul li span:hover {
    transform:  translateX(10px);
}

.skills ul li i {
    font-size: 1.2rem;
}

.about-box h2 {
    font-size: 2.5rem;
}

/* Projects Section*/
#projects {
    background-color: var(--background);
}

.header {
    text-align: center;
    font-size: 5rem;
    margin: 0.5em 0;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2em;
}

.box {
    border: 3px solid rgba(49, 49, 49);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    object-fit: cover;
    padding: 3em;
    gap: 2em;
    color: white;
    transition: 0.3s ease-in-out;
}

.box:hover {
    border: 3px solid rgb(100, 100, 100);
}

.box p {
    opacity: 0.8;
}

.box h1 {
    font-size: 2rem;
}

.box img {
    min-width: 25px;
    border-radius: 0.5em;
}

.box .card-links {
    display: flex;
    justify-content: center;
    gap: 1em;

    & > a {
        font-size: 1rem;
    }
}

/* Contact */
#contact {
    background-color: var(--second-background);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

form .input-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
}

.input-box span {
    font-size: 1.5rem;
}

form input {
    font-size: 1.3rem;
    padding: 1em 5em;
    border-radius: 0.5em;
    border: none;
    outline: none;
}

form input:focus {
    background: rgb(229,229,229);
}

/* These styles same as the .btn except the background color*/
form .form-btn-submit {
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1rem;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: var(--background);
}

/* These styles same as the .btn:hover */
form .form-btn-submit:hover {
    background-color: white;
    color: var(--background);
}

/* Footer Section */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    bottom: 0;
    background-color: var(--background);
    width: 100%;
    padding: 5em 15%;
}

.col-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.col-box {
    display: flex;
    align-items: center;
    gap: 1em;
}

.col-box i {
    font-size: 2rem;
}

.col-box span {
    font-size: 1.2rem;
}

.col-right {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: white;
    max-width: 500px;
}

.col-right span {
    font-size: 1.3rem;
}

.col-right .social-icons {
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 1em;
}

.col-right .social-icons a {
    font-size: 3rem;
    transition: 0.2s ease-in-out;
    color: transparent;
    cursor: pointer;
}

.col-right .social-icons a:hover {
    color: white;
}

@media (max-width: 1250px) {
    section {
        padding: 8em 15%;
    }

    nav .btn {
        display: none;
    }

    nav .links .btn {
        display: block;
    }

    #menu {
        display: block;
    }

    .links {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1em 3em;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        display: none;
    }

    .links a {
        margin: 2em 0;
        display: block;
        font-size: 1.5rem;
        color: white;
    }

    .links.active {
        display: block;
    }

    #home h1 {
        font-size: 4rem;
    }

    #home h3 {
        font-size: 2rem;
    }

    #home img {
        width: 24vw;
    }

    #about {
        flex-direction: column;
    }

    #about img{
        width: 32vw;
    }

    #about h1 {
        font-size: 3rem;
    }

    #about ul {
        font-size: 1rem;
    }

    .about-box {
        flex-direction: column;
        align-items: center;
    }

    .box .card-links {
        flex-direction: column;
    }
}

@media (max-width: 768px) {

    #home h1 {
        font-size: 2.5rem;
    }

    #home h3 {
        font-size: 1.5rem;
    }

    #home img {
        width: 32vw;
    }

    #about .skills {
        gap: 3em;
    }

    #projects .header {
        font-size: 3rem;
    }

    #contact .header {
        font-size: 3rem;
    }
    #contact .input-box span {
        font-size: 1.2rem;
    }

    .input-box input {
        padding: 0.5em 1em;
    }

    footer {
        flex-direction: column;
        gap: 5em;
        align-items: center;

    }
}